html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Cuprum", Arial, sans-serif;
}

.hidden {
	display: none;
}

.breadcrumbs {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
	line-height: 18px;
	font-size: 13px;
	text-transform: uppercase;
	list-style: none;
	margin-top: 20px;
}

.breadcrumbs-li {
	position: relative;
}

.breadcrumbs-li::after {
	position: absolute;
	content: "";
	top: 3px;
	right: 15px;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	width: 8px;
	height: 12px;
}

.breadcrumbs-li:last-child::after {
	background-image: none;
}

.breadcrumbs-link {
	color: #000000;
	text-decoration: none;
	margin-right: 41px;
}

.button {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 10px 40px;
	border: none;
	box-shadow: none;
	border-radius: 3px;
}

.catalog {
	font-family: "PT Sans", Arial, sans-serif;
	width: 700px;
	padding: 0;
	margin: 0;
	
}

.catalog-item {
	position: relative;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	width: 220px;
	text-align: center;
	padding: 20px 0;
	margin: 0 20px 20px 0;
}

.catalog-item::after {
	display: none;
	position: absolute;
	content: "new";
	top: 4px;
	right: -28px;
	text-align: center;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	padding: 5px;
	width: 85px;
	line-height: 20px;
	color: #ffffff;
	background-color: #ee3643;
	transform: rotate(45deg);
	z-index: 2;
}

.catalog-item:nth-child(5)::after,
.catalog-item:nth-child(9)::after {
	display: block;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.catalog-item-button {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto 10px auto;
	padding: 10px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	width:120px;
	border-radius: 3px;
}

.catalog-item-button.buy {
	position: relative;
	margin-top: 25px;
	background-color: #63a63e;
	border: none;
	box-shadow: inset 0 -3px 0 0 #367315;
	color: #ffffff;
}

.catalog-item-button.buy:hover {
	background-color: #5fbb2d;
}

.catalog-item-button.buy:active {
	background-color: #518534;
}


.catalog-item-button.buy::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../img/icon-cart.svg);
	opacity: 0.3;
	background-repeat: no-repeat;
	top: 11px;
	left: 14px;
	background-position: 50% 50%;
}

.catalog-item-button.buy::before:hover {
	opacity: 1;
}

.catalog-item-button.to-bookmarks {
	background-color: #ffffff;
	border: 3px solid #63a63e;
	padding: 7px;
	color: #32435c;
}

.catalog-item-button.to-bookmarks:hover {
	border: 3px solid #32425c;
}

.catalog-item-button.to-bookmarks:active {
	border: 3px solid #32425c;
	opacity: 0.3;
	color: rgba(50,66,92,1);
}

.catalog-item-buttons {
	display: none;
	position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:1;
}

.catalog-item:hover .catalog-item-buttons {
	display: block;
}

.catalog-item-h3 {
	margin: 0;
	padding: 0;
	color: #000000;
	font-weight: bold;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
}

.catalog-item-h3 + .catalog-item-new-price {
	margin-top: 38px;
}

.catalog-item-h3-link {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}

.catalog-item-paragraph-for-image {
	text-align: center;
	height: 150px;
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
}

.catalog-item-new-price {
	display: block;
	background-image: url(../img/red-button.svg);
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	line-height: 18px;
	font-size: 17px;
	margin:0 40px;
	padding: 10px 0;
}

.catalog-item-old-price {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: line-through;
	text-align: center;
	color: #999999;
	line-height: 18px;
	font-size: 17px;
	margin: 0;
	padding: 10px;
}

.catalog-list {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.catalog-window {
	display: flex;
	justify-content: space-between;
}

.catalog-window::after {
	display: table;
	content: "";
	clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.filter-name {
	color: #000000;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	margin: 15px 0;
}

.filters {
	width: 220px;
	margin-right: 0;
	font-family: "PT Sans", Arial, sans-serif;
}

.filters-form-group {
	border: none;
	border-top: 1px solid #e5e5e5;
	margin: 0;
	padding: 0;
}

.filters-form-button {
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	padding: 10px 35px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 60px 0 0 0;
	border-radius: 3px;
}

.filters-form-input {
	display: none;
}

.filters-form-label {
	position: relative;
	cursor: pointer;
	display: block;
	color: #000000;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0;
	margin: 0 0 22px 35px;
}

.filters-form-checkbox-label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    z-index: 1;
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-off.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.filters-form-radio-label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    z-index: 1;
	width: 24px;
	height: 24px;
	background-image: url(../img/radio-off.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.filters-form-input[type="checkbox"]:checked + .filters-form-checkbox-label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filters-form-input[type="radio"]:checked + .filters-form-radio-label::before {
	background-image: url(../img/radio-on.svg);
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
}

.footer-bottom {
	background-color: #293449;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 105px;
}

.footer-bottom-section {
	padding: 0;
	margin: 0;
}

.footer-lower-nav {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
}
               
.footer-lower-nav li {
	margin-left: 61px;
}

.footer-lower-nav li:first-child {
	margin-left: 0;
}

.footer-lower-nav-link {
	text-decoration: none;
	color: #ffd180;
}

.footer-lower-nav-link:hover {
	text-decoration: underline;
}

.footer-lower-nav-link:active {
	color: #ad956f;
	text-decoration: none;
}

.footer-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-nav-li {
	padding: 0;
	margin: 0;
}

.footer-top {
	font-size: 18px;
	line-height: 18px;
	color: #f3f7f9;
	background-color: #32425c;
	min-height: 193px;
}

.footer-top::after {
	display: table;
	content: "";
	clear: both;
}

.footer-top-left {
	float: left;
}

.footer-top-right {
	float: right;
	width: 550px;
}

.footer-upper-nav {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: flex-start;
	margin: 42px 0;
}

.footer-upper-nav li {
	margin-left: 60px;
}

.footer-upper-nav li:first-child {
	margin-left: 0;
}

.footer-upper-nav-link {
	text-decoration: none;
	color: #f3f7f9;
}

.footer-upper-nav-link:hover {
	text-decoration: underline;
}

.footer-upper-nav-link:active {
	color: #a4abb4;
	text-decoration: none;
}

header {
	background-color: #f4f7f9;
	min-height: 320px;
}

.header-address {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0 0 0 20px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
}

.header-bottom .container {
	background-color: #32425c;
}

.header-link {
	display: block;
	box-sizing: border-box;
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-size: 17px;
	line-height: 18px;
	padding-top: 14px;
	margin: 0;
	min-width: 150px;
}

.header-link:hover {
	background-color: #212a3a;
}

.header-link:active {
	background-color: #161d29;
	color: #ffffff;
}

.header-link.basket-not-empty {
	background-color: #ee3643;
}

.header-link.bookmarks {
	width: 150px;
	padding-left: 44px;
}

.header-link.bookmarks::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
	opacity: 0.3;
	background-repeat: no-repeat;
	top: 12px;
	left: 17px;
	background-position: 50% 50%;
}

.header-link.bookmarks:hover::before {
	opacity: 1;
}

.header-link.bookmarks:active::before {
	opacity: 0.5;
}

.header-link.basket {
	width: 150px;
	padding-left: 44px;
}

.header-link.basket::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../img/icon-cart.svg);
	opacity: 0.3;
	background-repeat: no-repeat;
	top: 12px;
	left: 17px;
	background-position: 50% 50%;
}

.header-link.basket:hover::before {
	opacity: 1;
}

.header-link.basket:active::before {
	opacity: 0.5;
}

.header-link.make-order{
	width: 150px;
	background-color: #63a63e;
	text-align: center;
}

.header-link.make-order:hover {
	background-color: #5fbb2d;
}

.header-link.make-order:active {
	background-color: #518534;
	color: rgba(0,0,0,0.5);
}

.header-link.search {
	flex-grow: 1;
	padding-left: 49px;
}

.header-link.search:active {
	background-color: #ffffff;
	color: #000000;
}

.header-link.search::before {
	position: absolute;
	content: "";
	width: 17px;
	height: 17px;
	background-image: url(../img/icon-search.svg);
	opacity: 0.3;
	background-repeat: no-repeat;
	top: 12px;
	left: 17px;
	background-position: 50% 50%;
}

.header-link.search:hover::before {
	opacity: 1;
}

.header-link.search:active::before {
	background-image: url(../img/icon-search-red.svg);
	opacity: 1;
}

.header-middle {
	margin: 47px 0 44px 0;
}

.header-middle .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-middle-element {
	margin: 0;
	padding: 0;
}

.header-nav {
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: inset 0 -5px 0 0 #293449;
	padding: 0 25px 0 22px;
}

.header-nav-link {
	flex-grow: 1;
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	padding: 20px 0 23px 0;
}

.header-nav-link:hover {
	background-color: #293449;
}

.header-nav-link:active {
	background-color: #293449;
	color: rgba(255,255,255,0.5);
}

.header-nav-link-active:hover {
	color: #ffffff;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 #293449;
}

.header-top {
	color: #ffffff;
	background-color: #293449;
}

.header-top .container {
	display: flex;
	flex-direction: row;
	height: 42px;
}

.info {
	color: #000000;
	padding-top: 82px;
	min-height: 536px;
	display: flex;
	justify-content: space-between;
}

.info h2 {
	font-weight:normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 0 28px 0;
	margin: 0;
}

.info-contacts {
	width: 300px;
}

.info-contacts .red-button {
	width:220px;
}

.info-map {
	padding-top: 3px;
	margin-bottom: 35px;
}

.info-paragraph {
	margin: 0 0 24px 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	vertical-align: bottom;
}

.info-partner-list {
	margin: -5px 0 0 0;
	padding: 0 0 0 35px;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.info-partner-list-li {
	margin: 0;
	padding: 0 0 21px 0;
}

.info-partner-list-li:last-child {
	padding-bottom: 37px;
}

.info-the-company {
	width: 520px;
}

.login-area {
	max-width: 300px;
	min-width: 300px;
}

.login-field {
	position: relative;
	margin: 0 0 0 10px;
	flex-grow: 1;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}
.login-field:first-child {
	margin-left: 0;
}

.login-field:hover {
	 color: #ee3643;
}

.login-field:active {
	color: rgba(0,0,0,0.3);
}

.login-field.enter {
	text-align: right;
	padding-right: 27px;
}

.login-field.enter::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	top: 12px;
	left: 14px;
	background-position: 50% 50%;
}

.login-field.enter:hover::before {
	background-image: url(../img/icon-login-dark.svg);
}

.login-field.enter:active::before {
	background-image: url(../img/icon-login.svg);
}

.login-field-filled {
	text-align: left;
	padding-left: 47px;
}

.login-field-filled, 
.login-field-filled:hover {
	color: #000000;
}

.login-field-filled:active {
	color: #f1f5f7;
}

.login-field-filled::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 18px;
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	top: 13px;
	left: 13px;
	background-position: 50% 50%;
}

.login-field-filled::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	top: 14px;
	right: 10px;
	background-position: 50% 50%;
}

.login-field-filled:hover::before{
	background-image: url(../img/icon-user-dark.svg);
}

.login-field-filled:hover::after {
	background-image: url(../img/icon-login-dark.svg);
}

.login-field-filled:active::before {
	background-image: url(../img/icon-user.svg);
}

.login-field-filled:active::after {
	background-image: url(../img/icon-login.svg);
}

.login-fields {
	display: flex;
	justify-content: flex-end;
}

.login-link {
	position: relative;
	margin: 0 17px;
	padding: 0;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.login-link:hover {
	 color: #ee3643;
}

.login-link:active {
	color: rgba(0,0,0,0.3);
}

.login-link::after {
	position: absolute;
	content: "";
	top: 7px;
	right: -22px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #32425c;
}

.login-link:last-child::after {
	background-color: transparent;
}

.login-links {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;

}

.moto {
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
	max-width: 193px;
	width: 193px;
	margin: 0;
	padding: 0 0 0 53px;
	text-align: left;
}

.perforators-header {
	color: #32425c;
	text-transform: uppercase;
	padding: 32px 0 34px 30px;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
}
.perforators-header-container {
	background-color: #f2f6f8;
}

.red-button {
	background-color: #ee3643;
	color: #ffffff;
}

.references {
	width: 280px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
}

.references-div:last-child {
	text-align: right;
}

.references-link {
	text-decoration: none;
	color: #ffd180;
}

.references-link:hover {
	text-decoration: underline;
}

.references-link:active {
	color: #ee3643;
	text-decoration: none;
}

.request-form {
	width: 617px;
	margin: 35px auto 0 auto;
	border-top: 3px solid #ee3643;
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.request-form input, 
.request-form textarea {
	border: 2px solid #d7dcde;
	font-family: "PT Sans",sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	letter-spacing: normal;
	color: #999999;
}

.request-form textarea {
	box-sizing: border-box;
	width: 100%;
	height: 114px;
	min-height: 144px;
	min-width: 60%;
	max-width: 100%;
}

.request-form input:focus,
.request-form textarea:focus  {
	outline: 2px solid #ee3643;
	-moz-outline-radius: 3px;
}

.request-form-bottom {
	background-color: #f4f4f4;
	padding: 37px 80px;
	text-align: center;
}

.request-form-container {
	width: 460px;
	margin: 0 auto;
}

.request-form-container::after {
	display: table;
	content: "";
	clear: both;
}

.request-form-input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border-radius: 3px;
}

.request-form-input-area.name {
	box-sizing: border-box;
	width: 50%;
	padding-right: 10px;
	float: left;
}

.request-form-input-area.email {
	box-sizing: border-box;
	padding-left: 10px;
	width: 50%;
	float: right;
}

.request-form-label {
	width: 100%;
	display: block;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	padding: 15px 0;
}

.request-form-top {
	min-height: 320px;
	padding-top: 35px;
}

.social-media-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.social-media-link {
	display: flex;
	justify-content: center;
	border-radius: 50%;
	align-items: center;
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	margin-left: 3px;
}

.social-media-link:hover, 
.social-media-link:active {
	background-color: #ee3643;
}

.technomart {
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	font-weight: normal;
	background-color: #ee3643;
	width: 220px;
	flex-grow: 0;
	box-shadow: 0 5px 0 0 rgba(181, 41, 50, 1);
}

.technomart:hover, 
.technomart:active {
	background-color: #ca2c37;
}

.technomart-header {
	font-size: 24px;
	padding: 10px 0;
}

.technomart-footer {
	font-size: 30px;
	padding: 23px 0;
	margin-bottom: 15px;
	}
	
.telephone {
	position: relative;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	box-sizing: border-box;
	border: 3px solid #ffffff;
	margin: 0;
	padding: 9px 49px 9px 71px;
	vertical-align: middle;
}

.telephone::before {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 15px;
	top: 11px;
	content: "";
	background-image: url(../img/icon-phone.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
